.acc-section {
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    padding: 53px 0 26px;
    @include media('<widescreen') {
        padding: 35px 0;
    }
    @include media('<desktop') {
        padding: 25px 0 10px;
    }
    .acc-thumb {
        display: block;
        text-align: center;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @include media('<tablet') {
            padding: 0 10%;
        }
        @include media('<phone') {
            padding: 0;
        }
        &-inverse {
            display: flex;
            flex-direction: column-reverse;
            @include media('<tablet') {
                flex-direction: column;
            }
        }
        .img-holder {
            position: relative;
            overflow: hidden;
            img {
                width: 100%;
                vertical-align: top;
                min-height: calc( 100% + 1px);
                width: auto;
                @include media('<tablet') {
                    width: calc( 100% + 3px);
                    min-height: 0;
                }
            }
        }
        .hidden-box {
            @include animate(opacity);
            opacity: 0;
            position: absolute;
            top: 6%;
            left: 7%;
            right: 7%;
            bottom: 6%;
            background-color: rgba($brand-primary, .69);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 16px;
            padding: 10px;
            .inside-hidden {
                margin-bottom: 16px;
            }
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
                vertical-align: top;
            }
            span {
                display: block;
                text-transform: uppercase;
                margin-bottom: 6px;
            }
        }
        .info-holder {
            @include animate(background-color);
            padding: 30px 40px 20px;
            background-color: #292728;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            line-height: 1.2;max-width: 100%;
            @include media('<desktop') {
                padding: 10px;
                font-size: 15px;
            }
            @include media('<desktop') {
                padding: 10%;
            }
            @include media('<desktop') {
                padding: 15px 20px;
            }
            ;
            .h2 {
                margin-bottom: 38px;
                @include media('<tablet') {
                    margin-bottom: 15px;
                }
            }
            p {
                margin-bottom: 38px;
                max-width: 100%;
                 @include media('<desktop') {
                         margin-bottom: 15px;
                 
                 }
                			
       
            }
        }
        &:hover {
            .hidden-box {
                opacity: 1;
            }
            .info-holder {
                background-color: #4a4547;
            }
            .btn.btn-secondary {
                background-color: $white;
                color: $btn-primary-color;
                border-color: $white;
            }
        }
    }
}

.sh-holder {
    @include media('<tablet') {
        height: auto !important;
    }
}
