.banner {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
        text-align: center;
        .h2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            letter-spacing: 3px;
              @include media('<widescreen') {
            font-size: 18px;
        }
            @include media('<tablet') {
                display: block;
            }
        }
        span {
            @include media('<tablet') {
                display: block;
                text-align: center;
                width: 100%;
                line-height: 1.3;
                &.separate {
                    display: none;
                }
            }
        }
    }
    .scroll-down {
        opacity: 1;
        @include animate(opacity);
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        animation: jump 1s infinite;
        @include media('<tablet') {
            animation: none;
            bottom: 10px;
        }
        &:hover {
            opacity: .8;
        }
    }
    &.vh100 {
        height: calc(100vh - 291px);
        @include media('<widescreen') {
            height: calc(100vh - 200px);
        }
        @include media('<desktop') {
            height: calc(100vh - 150px);
        }
        @include media('<tablet') {
            height: calc(100vh - 72px);
        }
    }
    &.vh490 {
        height: 490px;
        background-attachment: scroll;
        h1 {
            max-width: 1114px;
            margin: 0 auto;  
            .h2 {
                justify-content: center;
            }
        }
    }
}

@keyframes jump {
    from {
        bottom: 40px;
    }
    70% {
        bottom: 60px;
    }
    to {
        bottom: 40px;
    }
}
