.btn {
    @include animate(color background-color bordercolor);padding-left: 3px ;padding-right: 3px;	
    &.btn-primary {
        min-width: 150px;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        letter-spacing: 0px;
        padding-top: 3px ;
        padding-bottom: 3px;
        &:hover {
            background-color: $btn-primary-color;
            color: $white;
            border-color: $btn-primary-color;
        }
    }
    &.btn-secondary {
        background-color: transparent;     min-width: 150px;
        color: $white;       text-transform: uppercase;	
        border-color: $white;
        &:hover {
        	   background-color:  $white;
            color: $btn-primary-color;
            border-color:  $white;

        }
    }
}
