.side-section {
    padding: 63px 0 70px;
    background-size: cover;
    background-position: 50% 50%;
     @include media('<tablet') {
    		padding: 30px 10%;
     
     }
      @include media('<phone') {
     		padding: 25px 0;
      
      }
     			
    			
    .grey-box {
        height: 100%;
        background-color: $gray-base;
        color: $white;
        line-height: 	1.8;
        padding: 105px 89px 20px;
        .h2 {
            margin-bottom: 13px;
                    line-height: 	1.3;
        }
        @include media('<tablet') {
            padding: 20px;
            text-align: center;	
        }
    }
    .sh-column {
        @include media('<tablet') {
            height: auto !important;
        }
    }
    .img-holder img {
        @include media('<tablet') {
            width: 100%;
            max-width: none;
        }
        width: 100%
    }
}
